@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --primary-red: #ea384c;
  --primary-red-dark: #c01c2e;
  --primary-red-light: #ff5c6f;
  --text-dark: #333;
  --text-light: #777;
  --text-white: #fff;
  --background-white: #fff;
  --background-light: #f8f9fa;
  --border-light: #e4e4e4;
  --border-focus: #d1d1d1;
  --shadow-color: rgba(234, 56, 76, 0.15);
  --error-color: #ff3b3b;
  --success-color: #28a745;
  --font-primary: "Poppins", sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Poppins", serif;
}

a {
  text-decoration: none;
  color: #09122c;
}

.login-button {
  position: relative;
  background-color: rgb(230, 34, 77);
  border-radius: 5px;
  /* box-shadow: rgb(121, 18, 55) 0px 4px 0px 0px; */
  padding: 15px;
  background-repeat: no-repeat;
  cursor: pointer;
  box-sizing: border-box;
  width: 100%;
  height: 49px;
  color: #fff;
  border: none;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  overflow: hidden;
}

.login-button::before {
  content: "";
  background-color: rgb(248, 50, 93);
  width: 0;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: width 700ms ease-in-out;
  display: inline-block;
}

.login-button:hover::before {
  width: 100%;
}

/* below the swiper css */
.swiper-button-prev,
.swiper-button-next {
  background-color: #db282f;
  color: #fff;
  font-size: 15px;
  border-radius: 50%;
  width: 40px !important;
  height: 40px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 100;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 18px !important;
  font-weight: bold;
  color: #fff;
}

.primary-heading-container {
  margin-bottom: 40px;
}

.primary-heading-container .section-primary-heading {
  font-size: 36px;
  color: #333;
  font-weight: 700;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 15px;
}

.property-image-container {
  width: 100%;
  max-height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.property-title-container {
  width: 100%;
  overflow: hidden;
  margin-top: 15px;
}

.property-title-container a,
.property-title-container h1 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal; /* Allow wrapping */
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 16px;
}

.property-price-container .property-price {
  color: #000;
  font-size: 16px;
  font-weight: 900;
}

.property-main-image-container {
  width: 100%;
  max-height: 250px; /* Set a fixed height for the container */
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
  overflow: hidden; /* Ensure the content does not overflow */
  position: relative;
}

.property-main-image-container img {
  object-fit: cover; /* Cover ensures the image fills the container while maintaining aspect ratio */
  border-radius: 15px;
  height: 100%;
  display: block;
  width: 100%;
}

.property-main-image-container.completed-property::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent overlay */
}

.property-main-image-container.completed-property .watermark {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: rgba(255, 255, 255, 0.7); /* Semi-transparent text */
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.watermark-highlight {
  font-size: 25px;
  text-align: center;
  flex-grow: 1;
  font-weight: bold;
  color: red;
}

.watermar-detail-page {
  font-size: 45px;
  color: red;
  text-align: center;
  font-weight: bold;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(
    255,
    0,
    0,
    0.632
  ); /* Adjust the color of the thumb of the scrollbar */
  border-radius: 10px; /* Adjust the border radius of the thumb */
  width: 5px; /* Adjust the width of the thumb */
}

.footer-quick-links ul li {
  cursor: pointer;
  display: "flex";
  justify-content: center;
  align-items: center;
  color: white;
}

.youtube-icon-container:hover {
  transform: scale(1.2); /* You can adjust the scale factor as needed */
}

.post-property:hover span {
  color: white;
}

.post-property:hover {
  border-color: white;
  outline: none;
}

.post-property::before,
.post-property::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.post-property::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
}

.post-property:hover::before {
  transform: translate3d(100%, 0, 0);
}

.btn {
  display: inline-block;
  padding: 0.9rem 1.8rem;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: 3px solid rgb(252, 70, 100);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
}
.border h6 {
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 1.5em;
  padding-bottom: 15px;
  position: relative;
}
.border h6:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 5px;
  width: 55px;
  background-color: #111;
}
.border h6:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 2px;
  height: 1px;
  width: 95%;
  max-width: 255px;
  background-color: #333;
}

/* below the css for custom loader  */
.loadingspinner {
  --square: 26px;
  --offset: 30px;
  --duration: 2.4s;
  --delay: 0.2s;
  --timing-function: ease-in-out;
  --in-duration: 0.4s;
  --in-delay: 0.1s;
  --in-timing-function: ease-out;
  width: calc(3 * var(--offset) + var(--square));
  height: calc(2 * var(--offset) + var(--square));
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 30px;
  position: relative;
}

.loadingspinner div {
  display: inline-block;
  background: red;
  /*background: var(--text-color);*/
  /*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);*/
  border: none;
  border-radius: 2px;
  width: var(--square);
  height: var(--square);
  position: absolute;
  padding: 0px;
  margin: 0px;
  font-size: 6pt;
  color: black;
}

.loadingspinner #square1 {
  left: calc(0 * var(--offset));
  top: calc(0 * var(--offset));
  animation: square1 var(--duration) var(--delay) var(--timing-function)
      infinite,
    squarefadein var(--in-duration) calc(1 * var(--in-delay))
      var(--in-timing-function) both;
}

.loadingspinner #square2 {
  left: calc(0 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square2 var(--duration) var(--delay) var(--timing-function)
      infinite,
    squarefadein var(--in-duration) calc(1 * var(--in-delay))
      var(--in-timing-function) both;
}

.loadingspinner #square3 {
  left: calc(1 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square3 var(--duration) var(--delay) var(--timing-function)
      infinite,
    squarefadein var(--in-duration) calc(2 * var(--in-delay))
      var(--in-timing-function) both;
}

.loadingspinner #square4 {
  left: calc(2 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square4 var(--duration) var(--delay) var(--timing-function)
      infinite,
    squarefadein var(--in-duration) calc(3 * var(--in-delay))
      var(--in-timing-function) both;
}

.loadingspinner #square5 {
  left: calc(3 * var(--offset));
  top: calc(1 * var(--offset));
  animation: square5 var(--duration) var(--delay) var(--timing-function)
      infinite,
    squarefadein var(--in-duration) calc(4 * var(--in-delay))
      var(--in-timing-function) both;
}

@keyframes square1 {
  0% {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
  }

  8.333% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square2 {
  0% {
    left: calc(0 * var(--offset));
    top: calc(1 * var(--offset));
  }

  8.333% {
    left: calc(0 * var(--offset));
    top: calc(2 * var(--offset));
  }

  16.67% {
    left: calc(1 * var(--offset));
    top: calc(2 * var(--offset));
  }

  25.00% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  83.33% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  91.67% {
    left: calc(1 * var(--offset));
    top: calc(0 * var(--offset));
  }

  100% {
    left: calc(0 * var(--offset));
    top: calc(0 * var(--offset));
  }
}

@keyframes square3 {
  0%,
  100% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  16.67% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }

  25.00% {
    left: calc(1 * var(--offset));
    top: calc(0 * var(--offset));
  }

  33.33% {
    left: calc(2 * var(--offset));
    top: calc(0 * var(--offset));
  }

  41.67% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  66.67% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  75.00% {
    left: calc(2 * var(--offset));
    top: calc(2 * var(--offset));
  }

  83.33% {
    left: calc(1 * var(--offset));
    top: calc(2 * var(--offset));
  }

  91.67% {
    left: calc(1 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square4 {
  0% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  33.33% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  41.67% {
    left: calc(2 * var(--offset));
    top: calc(2 * var(--offset));
  }

  50.00% {
    left: calc(3 * var(--offset));
    top: calc(2 * var(--offset));
  }

  58.33% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes square5 {
  0% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  50.00% {
    left: calc(3 * var(--offset));
    top: calc(1 * var(--offset));
  }

  58.33% {
    left: calc(3 * var(--offset));
    top: calc(0 * var(--offset));
  }

  66.67% {
    left: calc(2 * var(--offset));
    top: calc(0 * var(--offset));
  }

  75.00% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }

  100% {
    left: calc(2 * var(--offset));
    top: calc(1 * var(--offset));
  }
}

@keyframes squarefadein {
  0% {
    transform: scale(0.75);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#furnishing > div {
  padding: 16px;
  box-shadow: 5px 5px 5px 5px #ddd;
  border-radius: 10px;
  text-align: center;
}

.radio-listingType {
  width: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 7px 5px;
}
.radio-listingType:hover {
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 3px;
  color: red;
  font-weight: 400;
}
.sub-property-type {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding: 8px 5px;
  cursor: pointer;
}
.sub-property-type:hover {
  background-color: rgba(255, 0, 0, 0.5);
  border-radius: 3px;
  color: red;
  font-weight: 400;
}
.filter-sub-property-type-checkbox {
  margin-right: 7px;
  accent-color: red;
}

.swiper-wrapper {
  position: static;
}

.swiper-pagination-horizontal {
  position: static;
}

/* Adjust for mobile */
@media (max-width: 768px) {
  .swiper-button-prev,
  .swiper-button-next {
    width: 30px !important;
    height: 30px !important;
    font-size: 14px;
  }
  .swiper-button-prev {
    left: 5px;
  }
  .swiper-button-next {
    right: 5px;
  }
  .enquiry-btn,
  .details-btn {
    font-size: 14px;
    padding: 8px 15px;
  }
}

.css-5r88sx-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding: 0px !important;
}
